services:
    redis:
        image: redis:7-alpine

    db:
        image: postgis/postgis:16-3.4-alpine
        environment:
            POSTGRES_PASSWORD: password
        ports:
            - "5432:5432"

    web:
        command: ./manage.py runserver_plus 0.0.0.0:8000
        build:
            context: .
            args:
                DEVELOPMENT: "True"
        image: django
        volumes:
            - .:/app:cached
        ports:
            - "8000:8000"
        depends_on:
            - db
            - redis
            - manage

    manage:
        image: django
        command: bash -c "./manage.py makemigrations && ./manage.py migrate --noinput"
        volumes:
            - .:/app
            - ./misc/importdata:/importdata
            - ./misc/backups:/backups
        depends_on:
            - db
            - redis
