{% load static %}<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <title>Neuen Fall von rechter Gewalt registrieren</title>

        <link href="{% static "css/main.css" %}" rel="stylesheet">
        <link
            rel="stylesheet"
            href="/static/bootstrap-4.6.0-dist/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="container">
            {% if messages %} {% for message in messages %}
            <div
                class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
            >
                {{ message }}
            </div>
            {% endfor %} {% endif %}

            <h1 style="margin-top: 2rem">Neuen Fall registrieren</h1>
            <p>
                Wir wollen mit diesem Formular testen, ob wir die weißen Flächen
                auf der Karte ergänzen können.
            </p>
            <p>
                Hier kannst du einen öffentlich bekannten Fall von rechter,
                rassistischer oder antisemitischer Gewalt an uns übermitteln.
                Nach einer Prüfung fügen wir den Fall zur
                <a href="https://tatortrechts.de/karte">Karte</a> hinzu.
            </p>
            <p>
                Wir können nur Fälle zur Karte hinzufügen, die wir mit
                mindestens einer öffentlichen Quelle überprüfen können. Bitte
                schau auch hier, ob du dich aufgrund deines Wohnortes an die
                <a href="https://tatortrechts.de/blog/quellen"
                    >schon erfassenden Projekte</a
                >
                kannst.
            </p>
            {% load crispy_forms_tags %}
            <form method="post" style="margin-bottom: 500px">
                {% csrf_token %} {{ form|crispy }}

                <button type="submit" class="btn btn-secondary">
                    Hinzufügen
                </button>
            </form>
        </div>
    </body>
</html>
