{% load static %}<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <title>Neuen Fall von rechter Gewalt registrieren</title>

        <link href="{% static "css/main.css" %}" rel="stylesheet">
        <link
            rel="stylesheet"
            href="/static/bootstrap-4.6.0-dist/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="container">
            {% if messages %} {% for message in messages %}
            <div
                class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
            >
                {{ message }}
            </div>
            {% endfor %} {% endif %}

            <h1 style="margin-top: 2rem">Neuen Fall registrieren</h1>
            <p>
                Hier kannst du einen Fall von rechter, rassistischer oder
                antisemitischer Gewalt an uns übermitteln. Nach einer Prüfung
                fügen wir den Fall zur Karte hinzu.
            </p>
            <p>
                Wir können nur Fälle zur zur Karte hinzufügen, über mindestens
                eine Quelle verifiziert und öffentlich bekannt sind. Fälle die
                in das Gebiet einer der
                <a href="https://tatortrechts.de/blog/quellen"
                    >schon erfassenden Projekte</a
                >
                fällt, nehmen wir nicht auf. Wende dich dafür direkt an die
                entsprechenden Projekte.
            </p>
            {% load crispy_forms_tags %}
            <form method="post" style="margin-bottom: 500px">
                {% csrf_token %} {{ form|crispy }}

                <button type="submit" class="btn btn-secondary">
                    Hinzufügen
                </button>
            </form>
        </div>
    </body>
</html>
